<!-- <div> 
  Today's date :- {{presentDate}} 
</div>

<br>

<div>
  <h3>Adding Date Pipe</h3>
  Today's date :- {{presentDate | date }}
</div>

<br>

<div>
<h3>Date Parameters</h3>
This is a short date : - {{presentDate | date: 'shortDate' }} <br/>
This line shows the full date : - {{presentDate | date: 'fullDate' }} <br/>
This will show a formatted date:- {{presentDate | date: 'M/dd/yyyy'}} <br/>
This indicates the hours and minutes:- {{presentDate | date: 'h:mm'}}
</div>

<br>

<div>
  <h3>Chained Pipes</h3>
  Date with uppercase :- {{presentDate | date: 'fullDate' | uppercase}} <br/>
  Date with lowercase :- {{presentDate | date: 'medium' | lowercase}} <br/>
</div>

<br>

<div>
  <h3>Async Pipe</h3>
  Seconds changing in Time: {{ time$ | async | date: 'mediumTime' }}
</div>

<br>

<div>
  <h3>Currency Pipe</h3>
  <p>{{ price | currency:'':true}}</p>
  <p>{{ price | currency:'INR' }}</p>
</div>

<br>

<div>
  <h3>Slice Pipe</h3>
  <h3>Start index:= {{Fruits | slice:2}}</h3>
  <h4>Start and end index:- {{Fruits | slice:1:4}}</h4>
  <h5>Negative index:- {{ Fruits | slice:-2}}</h5>
  <h6>Negative start and end index:- {{Fruits | slice:-4:-2}}</h6>
</div>

<br>

<div>
  <h3>Decimal Pipe</h3>
  <p> {{decimalNum1 | number}}</p>
  <p> {{decimalNum2 | number}}</p>
</div>

<br>

<div>
  <h3>Key-Value Pipes</h3>
  <p>Default Key-Value pipe</p>
  <div *ngFor="let item of testObject | keyvalue">
    {{item.key}}-{{item.value}}
  </div>
</div>

<br>

<div>
  <h3>Json Pipes</h3>
  <p>Objects: {{ testObject }}</p>
  <p>Object with JsonPipe: {{ testObject | json }}</p>
</div>

<br>

<div>
  <h3>Slice Array</h3>
  <p>array: {{ testArray }}</p>
  <p>Start index: {{testArray | slice:0:1}}<p>
  <p>End Index: {{testArray | slice:5:6}}</p>
</div> -->

<div>
  <h3>Ng Service</h3>
  {{ todaydate }}
</div>

<br>
<h3>new-cmp</h3>
{{todaydate}} <br>
{{componentproperty}}
<app-new-cmp></app-new-cmp>

<router-outlet />
